.member {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0;
    width: 100%;
    padding: 6px 0;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.member:hover {
    transform: translateX(5px);
    background-color: rgba(0, 0, 0, 0.05);
}

.member:first-child {
    padding-top: 0;
}